<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>{{post.title}}</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/things.css' %}" />
  </head>
<body>
<div class="header">
      <div class="content">
        <div class="center">  {% if user %}  <a href="{% url 'logout' %}"><button>Выход</button></a>
          <a href="{% url 'cabinet'%}"><h1>{{user.email}}</h1> </a>
           {% else %}
            <a href="{% url 'login' %}"><button>Вход</button></a>
            <a href="{% url 'registration' %}"><button>Регистрация</button></a>
           {% endif %}</div>
        <div class="right"></div>
        <div class="left">
          </div>
        </div>
      </div>
  </div>

<div class="body">
      <div class="book">
        <img src="{{posts.img}}" />
          <h1>{{posts.title}}</h1>
          <p>{{posts.description}}</p>
      </div>

    <div class="comments">
        {% for comment in comments %}
        <div class="comment_content">
        <img src="{{comment.user.user_icon}}" style="height:50px; width:35px">
        <h3>{{comment.user.login}}</h3>
        <h4>{{comment.publish_date}}</h4>
        <p>{{comment.text}}</p>
        </div>
        {% endfor %}
        {% if user %}
         <form method="POST">{% csrf_token %}
        <input type="text" name="text"><br><br>
        <input type="submit" value="ok">
        </form>
        {% endif %}
    </div>
</div>
</body>
</html>