<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Ranobe & manga</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/things.css' %}" />
  </head>
<body>
<div class="header">
      <div class="content">
        <div class="center"></div>
        <div class="right"></div>
        <div class="left">
         {% if user %}  <a href="{% url 'logout' %}"><button>Выход</button></a>
         <a href="{% url 'cabinet'%}"><h1>{{user.email}}</h1> </a>
          {% else %}
           <a href="{% url 'login' %}"><button>Вход</button></a>
             <a href="{% url 'registration' %}"><button>Регистрация</button></a>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
 <div class="body">

        <div class="books">
        <img src="{{user.user_icon}}" style=" height:500px; width:350px" >
        <h1>{{user.login}}</h1><br>
        <p>{{user.email}}</p><br>
        <p>{{user.password}}</p><br>
        <p>{{first_session}}</p>
        <p>{{num_visits}}</p>
            </div>
 </div>
</body>
</html>