<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Log in</title>
  </head>
  <body>
    <div class="header">
      {% if user.user_category_id == 1 %}
      <div class="center">
        <a href="{% url 'logout' %}"><button>Выход</button></a>
      </div>
      <div class="center">
        <a href="{% url 'cabinet'%}"><h1>{{user.login}}</h1> </a>
      </div>

      {% endif %} {% if user.user_category_id == 2 %}
      <div class="center">
        <a href="{% url 'logout' %}"><button>Выход</button></a>
      </div>
      <div class="center">
        <a href="{% url 'cabinet'%}"><h1>{{user.login}}</h1> </a>
      </div>
      <div class="center">
        <a href="{% url 'editor' %}" style="background-color: red;"
          ><h1>Админ панель</h1></a
        >
      </div>
      {% endif %} {% if user == 3 %}
      <div class="center">
        <a href="{% url 'login' %}"><button>Вход</button></a>
      </div>
      <div class="center">
        <a href="{% url 'registration' %}"><button>Регистрация</button></a>
      </div>
      {% endif %}
    </div>

    <form method="POST">
      {% csrf_token %} login <input type="login" name="login" /><br /><br />
      pass<input type="password" name="password" /><br /><br />
      <input type="submit" value="Login" />
    </form>
    {{error}}
  </body>
</html>
