* {
  margin: 0;
  padding: 0;
}
body {
  background: white;
  height: 100vh;
}
.header {
  display: flexbox;
  height: 20%;
  width: 100%;
  background-color: #1b2631;
  color: white;
}
.header h1 {
  color: white;
}

.content {
  width: 70%;
  height: 80%;
  display: flex;
  margin: 0 auto;
  margin-top: 5%;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}
