* {
  margin: 0;
  padding: 0;
}
body {
  background: white;
  height: 100vh;
}
.header {
  height: 5%;
  width: 100%;
  background-color: #1b2631;
  display: flex;
  justify-content: space-around;
}
.header button {
  height: 100%;
  width: 19%;
  border: none;
}
.center {
  height: 100%;
  width: 25%;
  color: white;
}
.header h1:hover {
  border-bottom: 1px solid white;
}
.body {
  width: 70%;
  height: 95%;
  display: flex;
  margin: 0 auto;
}
.books {
  margin-top: 10%;
  width: 50%;
}
.your_books {
  height: 70%;
  width: 50%;
  margin-top: 10%;
}
.body img {
  width: 50%;
  height: 50%;
}
a {
  text-decoration: none;
  color: white;
}
