* {
  margin: 0;
  padding: 0;
}
body {
  background: white;
}
.header {
  display: flexbox;
  height: 8vh;
  width: 100%;
  background-color: #1b2631;
  color: white;
  position: fixed;
}
.header h1 {
  color: white;
}
.header .content {
  margin: 0 auto;
  height: 100%;
  width: 70%;
}
.content {
  display: flex;
  align-content: space-between;
}
.content .center {
  height: 100%;
  width: 25%;
}
.content .right {
  height: 100%;
  width: 25%;
}
.content .left {
  height: 100%;
  width: 25%;
}
.body {
  width: 70%;
  height: 200vh;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
.body .books {
  margin-top: 10%;
  width: 100%;
}
.body img {
  width: 50%;
  height: 50%;
}
a {
  text-decoration: none;
  color: black;
}
.body .comments {
  margin-top: 0;
}
.body .comments .comment_content {
  margin-top: 50px;
}
.book {
  margin-top: 10%;
  height: 40%;
}
.comments button {
  width: 150px;
  height: 40px;
  color: black;
}
